@model IEnumerable<FarmasiCase.Models.Cart>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-1.cshtml";
}


<p>Sepetim</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Urunler.Gorsel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunler.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunler.Renk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urunler.Fiyat)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Adet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>                   
                 @Html.DisplayFor(modelItem => item.Urunler.Gorsel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Urunler.UrunAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urunler.Renk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Urunler.Fiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adet)
                </td>
                <td>
                    @Html.ActionLink("Sil", "Delete", new {  id=item._id  } )
                    @*@Html.ActionLink("Delete", "Delete", new {  id=item._id  })*@
                </td>
            </tr>
        }
    </tbody>
</table>
